
.weather-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}

   .rounded-table {
       border-collapse: collapse;
       width: 200px;
       border: 2px solid blue;
       border-radius: 10px;
       margin: 20px auto;
   }

   .rounded-table th,
   .rounded-table td {
       border: 2px solid blue;
       padding: 10px;
       text-align: center;
   }

   .material-icons-outlined.md-48 {
       font-size: 48px;
       color: blue;
   }

   body {

       padding: 0px;
       margin: 0px;
       height: 100vh;
       background-size: cover;

   }

   .logo {
       max-width: 100px;
       /* Defina o tamanho máximo da imagem */

       background-color: #4169e1;
   }