<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="app.component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
    />
  </head>

  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>ClimaTempo</title>
      <base href="/" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="app.component.css" />
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,1700,0,200"
      />
    </head>
    <body>
      <img
        src="./assets/images/logo-white.png"
        style="max-width: 100%"
        alt="Logo ClimaTempo"
        class="logo"
      />
      <br />
      <mat-slide-toggle
        [(ngModel)]="temperatureUnitInCelsius"
        (change)="changeTemperatureUnit()"
      >
        Exibir em Celsius</mat-slide-toggle
      >

      <mat-slide-toggle
        [(ngModel)]="rainUnitInPol"
        (change)="changeVolumeUnit()"
        >Exibir em Polegadas</mat-slide-toggle
      >

      <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field [hiden]="true">
          <input
            type="text"
            placeholder="Enter Location"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="cityDisplayWith"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
              (click)="clickSubmit(option)"
            >
              {{ cityDisplayWith(option) }}
            </mat-option>
          </mat-autocomplete>
          <!-- <button type="submit">
            <span class="material-symbols-outlined"> search </span>
          </button> -->
        </mat-form-field>
      </form>
      <div *ngIf="selectedCity">
        <h2>
          Previsão para {{ selectedCity.locale.name }} -
          {{ selectedCity.locale.state }}
        </h2>
        <p>
          Período: {{ selectedCity.period.begin }} a
          {{ selectedCity.period.end }}
        </p>

        <div
          *ngFor="let entry of selectedCity.weather; let i = index"
          class="weather-card"
        >
          <table class="weather-card" width="98%">
            <tr>
              <th rowspan="2">
                <span class="material-symbols-outlined">
                  {{ formatProbability(entry) }}
                </span>
                <br />
                <h1>{{ formatDate(entry) }}</h1>
              </th>
              <th width="40%">
                <span class="material-symbols-outlined"> arrow_downward </span>
                {{
                  formatTemperature(entry, !this.temperatureUnitInCelsius, true)
                }}
              </th>
              <th width="40%">
                <span class="material-symbols-outlined"> arrow_upward </span>
                {{
                  formatTemperature(
                    entry,
                    !this.temperatureUnitInCelsius,
                    false
                  )
                }}
              </th>
            </tr>
            <tr>
              <th>
                <span class="material-symbols-outlined"> umbrella</span
                ><!--
                 -->{{ entry.rain.probability }}%
              </th>
              <th>
                <span class="material-symbols-outlined"> water_drop </span>
                {{ formatRain(entry, this.rainUnitInPol) }}
              </th>
            </tr>
            <tr>
              <td colspan="3">{{ entry.text }}</td>
            </tr>
          </table>
        </div>
      </div>
    </body>
  </html>
</html>
