
.weather-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: white;
}
.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}


.terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background: rgb(15, 15, 16);
}

   body {
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-size: cover;

   }

   .logo {
       max-width: 100px;
       /* Defina o tamanho máximo da imagem */
       background-color: #4169e1;
   }