<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<head>
  <link rel="stylesheet" href="app.component.css" />
</head>

<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  
  <style>
    body{
      background-color: lightgrey;
    }
  </style>

      <form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            type="text"
            placeholder="Enter Location"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <button type="submit">Submit</button>
        </mat-form-field>
        <br />
        <br />
        <br />
      </form>
      <br /><br /><br /><br />
      <div #myName></div>

      

      <!-- <div>
        <label for="cityInput">Escolha uma cidade:</label>
        <input type="text" id="cityInput" [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{ option.name }} - {{ option.state }}
          </mat-option>
        </mat-autocomplete>
      </div> -->
      
      
      
      <div *ngIf="selectedCity">
        <h2>Previsão para {{ selectedCity.locale.name }} - {{ selectedCity.locale.state }}</h2>
        <p>Período: {{ selectedCity.period.begin }} a {{ selectedCity.period.end }}</p>
        <p>{{ selectedCity.weather[0].text }}</p>
        <p>Temperatura Mínima: {{ selectedCity.weather[0].temperature.min }}°C</p>
        <p>Temperatura Máxima: {{ selectedCity.weather[0].temperature.max }}°C</p>
        <p>Probabilidade de Chuva: {{ selectedCity.weather[0].rain.probability }}%</p>
        <p>Precipitação de Chuva: {{ selectedCity.weather[0].rain.precipitation }}</p>
      </div>
      
<h1>Só funciona pra SP e Osasco por conta dos dados adquiridos</h1>

</body>
</html>